<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GoumzoMobilité
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar show-clear-button="always" value="Always Show" animated="true" placeholder="Vôtre destination" color="primary" placeholder="Primary"></ion-searchbar>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GoumzoMobilité</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
