<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GoumzoMobilité
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Tram</p>
  <ion-chip *ngFor="let line of tramLines" style="background-color: #{{line.color}}; color: #{{line.textColor}}">{{line.shortName}}</ion-chip>
  <p>Chrono</p>
  <ion-chip *ngFor="let line of chronoLines" style="background-color: #{{line.color}}; color: #{{line.textColor}}">{{line.shortName}}</ion-chip>
  <p>Proximo</p>
  <ion-chip *ngFor="let line of proximoLines" style="background-color: #{{line.color}}; color: #{{line.textColor}}">{{line.shortName}}</ion-chip>
  <p>Flexo</p>
  <ion-chip *ngFor="let line of flexoLines" style="background-color: #{{line.color}}; color: #{{line.textColor}}">{{line.shortName}}</ion-chip>
</ion-content>
